<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Criado por Rafael Paiva em 2022
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li>email</li>
                <li>(00) 0000-0000</li>
                <li></li>
            </ul>
        </address>
        <section class="footer__copyright">
            &copy; Todos os direitos reservados
        </section>
    </div>
</footer>